div .contentWrapper {
    margin-left: 10px;
    margin-right: 10px;
}
table {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table th {
	border-width: 1px;
	padding: 4px;
	border-style: solid;
	border-color: #666666;
	background-color: #eeeeee;
}
table td {
	border-width: 1px;
	padding: 4px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}
.buttonMedlem {
	margin-top: 10px;
	margin-bottom: 5px;
	border: 2px solid #0492c2; /* Dark-blue border */
	background-color: #1E88E5; /* fill transparently */
	transition: background-color 0.3s ease-out; /* Transition effect when hovering over the button */
	border-radius: 10px; /* Rounded corners */
	font-weight: bold; /* Big bold text */
	font-size: 18px; /* Adjust font size to your preference */
	color: #FFFFFF; /* White text */
	padding: 8px 16px; /* Adjust padding to your preference */
	text-align: center; /* Center text horizontally */
	text-decoration: none; /* Remove underline from text if needed */
	display: inline-block; /* Display as an inline-block element */
	cursor: pointer; /* Add cursor style to indicate clickability */
	width: 100%;
  }
  @media screen and (max-width: 768px) {
	.buttonMedlem {
	  font-size: 16px; /* Decrease font size for screens up to 768px wide (most mobile etc.) */
	  padding: 5px 10px; /* Also decrease the padding */
	  border: 1.5px solid #0492c2; /* Dark-blue border */
	}
  }
  @media screen and (max-width: 456px) {
	.buttonMedlem {
	  font-size: 12px; /* Decrease font size for screens up to 768px wide (most mobile etc.) */
	  padding: 5px 10px; /* Also decrease the padding */
	  border: 1px solid #0492c2; /* Dark-blue border */
	}
  }
  .buttonMedlem:hover {
	background-color: #ffffff00;
	color: #1E88E5;
  }

  .buttonInfo {
	margin-top: 10px;
	margin-bottom: 5px;
	border: 2px solid #0492c2; /* Dark-blue border */
	background-color: #1E88E5; /* fill transparently */
	transition: background-color 0.3s ease-out; /* Transition effect when hovering over the button */
	border-radius: 10px; /* Rounded corners */
	font-weight: bold; /* Big bold text */
	font-size: 18px; /* Adjust font size to your preference */
	color: #FFFFFF; /* White text */
	padding: 8px 16px; /* Adjust padding to your preference */
	text-align: center; /* Center text horizontally */
	text-decoration: none; /* Remove underline from text if needed */
	display: inline-block; /* Display as an inline-block element */
	cursor: pointer; /* Add cursor style to indicate clickability */
	width: 100%;
  }
  @media screen and (max-width: 768px) {
	.buttonInfo {
	  font-size: 16px; /* Decrease font size for screens up to 768px wide (most mobile etc.) */
	  padding: 5px 10px; /* Also decrease the padding */
	  border: 1.5px solid #0492c2; /* Dark-blue border */
	}
  }
  @media screen and (max-width: 456px) {
	.buttonInfo {
	  font-size: 12px; /* Decrease font size for screens up to 768px wide (most mobile etc.) */
	  padding: 5px 10px; /* Also decrease the padding */
	  border: 1px solid #0492c2; /* Dark-blue border */
	}
  }
  .buttonInfo:hover {
	background-color: #ffffff00;
	color: #1E88E5;
  }

  summary {
    font-style: italic;
    margin: 0.5em 0.5em 0;
	cursor: pointer;
}
details[open] {
    padding: 0.5em;
	font-size: 12px;
}
details[open] summary {
    margin-bottom: 0.1em;
}