---
layout: base
---

{% if page.title %}
<h1> {{ page.title }} </h1>
<br>
{% endif %}


{% if page.bonusproblem %}
<p>Kul att du hittat hit! Nedan finns lösningsförslag samt bonusproblem.</p>
<!-- <p><b>TÄVLING PÅGÅR!</b> Skicka in dina lösningar på exempelproblemen och vinn priser <a href="https://forms.gle/HUWo3VtxbTbzPy799">HÄR</a>.</p> -->
{% else %}
<p> Kul att du hittat hit! Nedan finns lösningsförslag till affischproblemet.</p>
<!-- <p><b>TÄVLING PÅGÅR!</b> Skicka in dina lösningar på exempelproblemen och vinn priser <a href="https://forms.gle/HUWo3VtxbTbzPy799">HÄR</a>.</p> -->

{% endif %}

{% if page.skrivut %}
<p> Skriv gärna ut affischen och häng upp den någonstans så att fler får klura! </p>
{% endif %}


{% if page.poster and page.medlemsforening %}
<img src="{{ page.poster }}" alt="Affisch exempelproblem {{ page.medlemsforening}}" style="width: 100%; position: relative; left: 0px; max-width: 800px;">
{% endif %}
<br>
<!-- Bli medlem-knappen är direkt kopplad till informationen i "medlemsforeningar.yml" och är alltid likadan. -->
{% for member in site.data.medlemsforeningar %} {% if member.current == true %} {% if member.name == page.medlemsforening %} 
        {% if member.form %}
        <!-- <br> -->
        <div class="buttonMedlem" style="max-width: 220px;" onclick="redirectToLink('{{ member.form }}')">
            Bli medlem gratis <i class="fa fa-sign-in"></i>
        </div>
        <script src="/scripts/redirectOnClick.js"></script>
        {% endif %}
{% endif %} {% endif %} {% endfor %}

<!-- Ladda-ned affischen-knapp -->
{% if page.skrivut %}
<div class="buttonInfoLarge" style="max-width: 220px;" onclick="redirectToLink('{{ page.skrivut }}')">
    Skriv ut <i class="fa fa-print"></i>
</div>
<script src="/scripts/redirectOnClick.js"></script>
{% endif %}


{% if page.ledtrad %}
<br>
<details>
    <summary style="display:list-item">Ledtråd:</summary>
    <p> {{ page.ledtrad }} </p>
</details>
{% endif %}

{% if page.solution %}
<details>
    <summary style="display:list-item">Lösning:</summary>
    <!-- <p> Lösningar till alla exempelproblem publiceras efter tävlingens slut den 15 november. </p> -->
    <p> {{ page.solution}} Tyckte du detta problem var roligt, vill ha en mer utförlig förklaring eller fler utmaningar? <a href="//www.ungvetenskapssport.se/medlem/">Bli medlem i en förening</a> och gå med i vår <a href="https://discord.gg/GDfJKkTaqb">discordserver</a>! </p>
</details>
{% endif %}


{% if page.bonusproblem %}
<br>
<p>
<b>Bonusproblem</b>
<br>
{{ page.bonusproblem }}
<details>
    <summary style="display:list-item">Lösning bonusproblem:</summary>
    <p>Lösningen på denna uppgift diskuteras på <a href="https://discord.gg/GDfJKkTaqb">discord</a>. Att <a href="//www.ungvetenskapssport.se/medlem/">bli medlem gratis</a> är det bästa sättet att få ta del av fler kul problem och träffa andra intresserade! </p>
    {% if page.bonusproblem_ledtrad %}
    <p> <b>Ledtråd:</b> {{ page.bonusproblem_ledtrad }} </p>
    {% endif %}
</details>
</p>
{% endif %}

{{ content}}
