<!DOCTYPE HTML>
<html lang="en">
  {% include head.html %}

    <body>
        {% include header_adjustable_image.html %}
        <div id="div-with-bg" class="jumbotron" style="margin-top: -30px; background: linear-gradient(#FFFFFF00, #FFFFFFAA, #FFFFFFEE),
                    url('/imgs/styrelsen/gruppbild.jpg'); background-size: 1500px 400px; background-position: top; height: 400px;">
            <div class="container" style = "margin-top: 140px;">
                <h1>Ung Vetenskapssport</h1>
            </div>
        </div>
        <div class='container'>
          <div class='contentWrapper'>
            <div class="row">
              {% if styrelse_layout.title %}
              <h1> {{ styrelse_layout.title }} </h1>
              <br>
              {% endif %}
              {{ content}}
            </div>

            <div class=row>
                <hr>
                {% include footer.html %}
            </div>
          </div>
        </div>

    </body>
</html>
