<!DOCTYPE HTML>
<html lang="en">
  {% include head.html %}

    <body>
        {% include header_adjustable_image.html %}
        <div id="div-with-bg-img" class="jumbotron" style="margin-top: -20px">
            <div class="image-container" style="padding-bottom: 35%;">
              <img src="/imgs/styrelsen/2024/gruppbild.webp" alt="Image" />
              <div class="overlay"></div>
              <div class="text-container" style = "left: 10vw; bottom: 5vw; font-size: calc(min(7vw,60px)); display: block;">
                <h1>Styrelsen</h1>
              </div>
            </div>
        </div>
        <div class='container'>
          <div class='contentWrapper'>
            <div class="row">
              {% if styrelse_layout.title %}
              <h1> {{ styrelse_layout.title }} </h1>
              <br>
              {% endif %}
              {{ content}}
            </div>

            <div class=row>
                <hr>
                {% include footer.html %}
            </div>
          </div>
        </div>

    </body>
</html>
